@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "NewShow";
}

<h1>@ViewData["Title"]</h1>
<p>This page is there to add NewShows</p>

<div class="row justify-content-center">
    <div class="col-md-4">
        
        <form id="NewShowForm" method="post" asp-controller="Show" asp-action="NewShow" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="picture" class="form-label" >Picture:</label>
                <input type="file" class="custom-file-input" id="picture" name="picture" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="totalEpisodes" >Total Episodes</label>
                <input type="number" id="total-episodes" class="form-control" name="totalEpisodes" required />
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" required maxlength="50" />
                <div class="valid-feedback">Good!</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
                <div class="valid-feedback">Good!</div>
            </div>

            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>
