@model ShowDashboardViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Showoverview";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    @{

        if (Model.ShowOverviews.Count != 0)
        {
                
                <div class="d-flex align-items-center flex-column">
                    <div style="width: 30rem">
                        <div class="mb-3">
                            <label class="form-label" for="overviewName">Overview:</label>
                            <select class="form-control" id="overviewDropDown" name="selectedOverviewID" style="width: auto; display: inline-block;">
                                @foreach (var overview in Model.ShowOverviews)
                                {
                                        <option value="@overview.ShowOverviewID">@overview.OverviewName</option>
                                }
                            </select>
                                <input type="hidden" id="hiddenShowOverviewID" name="showOverviewID" value="@Model.ShowOverviews[0].ShowOverviewID" />
                        <button id="loadPartialCreateShowOverview" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
                        <button type="button" id="addNewShowButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newShowModal">Add New Show</button>
                        </div>
                    </div>
                </div>


                <div id="onClickPartialCreateShowOverview"></div>

      
        }else
        {
            <div class="d-flex align-items-center flex-column">
                    <div style="width: 30rem">
                        <div class="mb-3">
            <h1>No Overviews Found:</h1>
            <button id="loadPartialCreateShowOverview" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Overview</button>
            <div id="partialCreateShowOverview"></div>
            </div>
            </div>
            </div>
        }

        <div id="partialNewShow"></div>

        
        <div id="partialShows"></div>
         

}
@section Scripts {
    <script>
        try {
            document.getElementById('overviewDropDown').addEventListener('change', function () {
                document.getElementById('hiddenShowOverviewID').value = this.value;
                $('#partialShows').load("/Show/GetAllInOverview", { showOverviewID: $('#hiddenShowOverviewID').val() });
            });
        } catch (error) {
            console.error(error);
        }

            try {
                document.getElementById('overviewDropDown').addEventListener('change', function () {
                    document.getElementById('showOverviewID').value = this.value;
                });
            } catch (error) {
                console.error(error);
            }
        

        $('#partialShows').load("/Show/GetAllInOverview", { showOverviewID: $('#hiddenShowOverviewID').val() });

    
        try {
            $('#partialCreateShowOverview').load("/Home/CreateShowOverview");
        } catch (error) {
            console.error(error);
        }
        

        
        try {
            $('#onClickPartialCreateShowOverview').load('/Home/CreateShowOverview');
        } catch {
            console.error(error);
        }
        
        try {
                
            $('#partialNewShow').load("/Home/NewShow", { showOverviewID: $('#hiddenShowOverviewID').val() }, function () {  
            });
                
        } catch (error) {
            console.error(error);
        }
    </script>
}
