@{
    ViewData["Title"] = "Unauthorized";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Unauthorized</h5>
                        <p class="card-text">You are unauthorized to perform this action.</p>
                        <p class="card-text">Please refrain from modifying the HTML.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
